<%- include('../layouts/admin/header.ejs') %>
<div class="main-panel">
  <div class="content-wrapper">
<div class="row ">
  <div class="col-12 grid-margin">
      <div class="card">
          <div class="card-body">

              <div class="d-flex justify-content-between">
                  <h3 class="card-title">Banner Management</h3>
                  <a href="/admin/addbanner"
                                    class="btn btn-outline-success d-flex align-items-center">&nbsp<b>+ </b> &nbsp add
                                    Banner</a>
              </div>
              <% if (messages.success) { %>
                <div class="alert alert-success mt-2" id="successAlert">
                  <%= messages.success %>
                </div>
                <script>
                  setTimeout(function() {
                    var successAlert = document.getElementById('successAlert');
                    if (successAlert) {
                      successAlert.remove();
                    }
                  }, 4000); 
                </script>
              <% } %>
              
              <% if (messages.error) { %>
                <div class="alert alert-danger mt-2" id="errorAlert">
                  <%= messages.error %>
                </div>
                <script>
                  setTimeout(function() {
                    var errorAlert = document.getElementById('errorAlert');
                    if (errorAlert) {
                      errorAlert.remove();
                    }
                  }, 4000); 
                </script>
              <% } %>
              <hr class="white-line my-4">
              
              <div class="table-responsive">
                  <% if(banners.length==0){ %>
                      <p class="text-center ">No have BANNERS</p>
                      <%}else{%>
                          <table class="table text-center">
                              <thead>
                                  <tr>
                                      <th> Banner Image </th>
                                      <th> Banner Name </th>
                                      <th> Visiblity</th>
                                      <th> Remove</th>
                                    

                                  </tr>
                              </thead>
                              <tbody>
                                  <% for(i in banners){ %>

                                      <tr>
                                          <td class="">
                                              <img class="rounded product-img-preview bg-light"
                                                  src="/public/products/banners/<%= banners[i].banner%>"
                                                  alt="image" />
                                          </td>
                                          <td>
                                              <%= banners[i].title%>
                                          </td>
                                          <td>
                                            <% if (banners[i].visibility=== false) { %>
                                              <a href="/admin/visible?id=<%= banners[i]._id %>">
                                                <button type="button" class="btn btn-inverse-success btn-fw">
                                                  Show
                                                </button>
                                              </a>
                                            <% } else { %>
                                              <a href="/admin/visible?id=<%= banners[i]._id %>">
                                                <button type="button" class="btn btn-inverse-danger btn-fw">
                                                  Hide
                                                </button>
                                              </a> 
                                            <% } %>
                                          </td>
                                          <td>
                                            <button type="button" class="btn btn-inverse-danger" onclick="confirmDelete('<%= banners[i]._id %>')">
                                              Delete Item
                                            </button>
                                          </td>
                                             
                                      </tr>
                                      <%}%>
                                          <!-- <tr>
                          
                      </tr> -->


                              </tbody>
                          </table>
                          <%}%>
              </div>
          </div>
      </div>
  </div>
</div>

<%- include('../layouts/admin/footer.ejs') %>
<script>
    function confirmDelete(bannerId) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'You won\'t be able to revert this!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = `/admin/deletebanner?id=${bannerId}`;
        }
      });
    }
  </script>