<%- include('../layouts/admin/header.ejs') %>
<div class="main-panel">
  <div class="content-wrapper">
<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
        <h3 class="card-title">Categories</h3>
        <a href="/admin/addcategory"
                                    class="btn btn-outline-success d-flex align-items-center">&nbsp<b>+ </b> &nbsp add
                                    Category</a>
     
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Category Name</th>
                <th>Category Description</th>
                <th>Status</th>
                <th>Edit </th>
              </tr>
            </thead>
            <tbody>
              
                <% for (var i=0 ; i < categories.length ;i++){%>
                  <tr>
                    <td><%=categories[i].category_name%></td>
                    <td class="category-description"><%=categories[i].category_description%></td>
                    <td>
                      <% if (categories[i].is_listed === false) { %>
                        <a href="/admin/unlistCategory?id=<%= categories[i]._id %>">
                          <button type="button" class="btn btn-inverse-success btn-fw">
                            List
                          </button>
                        </a>
                      <% } else { %>
                        <a href="/admin/unlistCategory?id=<%= categories[i]._id %>">
                          <button type="button" class="btn btn-inverse-danger btn-fw">
                            Unlist
                          </button>
                        </a> 
                      <% } %>
                    </td>
                    <td>
                      <a href="/admin/editCategory/?id=<%= categories[i]._id %>">
                      <i class="mdi mdi-pencil-box-outline"  style="font-size: 26px; "></i>
                      </a>
                    </td>
                  </tr>
                  <% } %>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%- include('../layouts/admin/footer.ejs') %>
