<%- include('../layouts/admin/header.ejs') %>

  <div class="main-panel">
    <div class="content-wrapper">

      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit Product</h4>
            <!-- <p class="card-description"> Basic form elements </p> -->
            <form class="forms-sample " action="/admin/editproduct?id=<%= product._id %>" method="post"
              enctype="multipart/form-data">

              <div class="form-group  row">
                <div class="col-6  text-light">
                  <label for="exampleInputName1">Product Titile</label>
                  <input type="text" class="form-control  text-light" name="product_name"
                    value="<%= product.product_name %>" id="exampleInputName1" placeholder="Name" required>
                </div>
                <div class="col-6">
                  <label for="exampleInputName1">Price</label>
                  <input type="number" class="form-control text-light" id="exampleInputName1"
                    value="<%= product.product_price %>" name="product_price" placeholder="price" required>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label class="col-sm-3 col-form-label">Categories</label>
                      <select name="frame_shape" class="form-control text-light" required>
                        <!-- <option value="<%= product.frame_shape %>" selected><%= product.frame_shape %></option> -->
                        <!-- <option <% if(product.frame_shape=="Round"){%>selected<%}%> >Round</option> -->
                        <% for(i in categories){%>
                          <option <% if(product.frame_shape==categories[i].category_name ){%>selected<%}%>
                              <% if(categories[i].block==1) {%>
                                disabled
                                <%}%>
                                  ><%= categories[i].category_name %>
                          </option>
                          <%}%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label class="col-sm-3 col-form-label">Gender</label>
                      <select name="gender" class="form-control text-light" required>
                        <option <% if(product.gender=="male" ){%>selected<%}%> >Male</option>
                        <option <% if(product.gender=="Women" ){%>selected<%}%> >Women</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label class="col-sm-3 col-form-label">Number of Stock</label>
                      <input type="number" value="<%= product.stock %>" class="form-control text-light"
                        id="exampleInputName1" name="stock" placeholder="Enter Stock" required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mt-2">
                <label for="exampleTextarea1">Description</label>
                <textarea name="product_description" value="<%= product.description %>" class="form-control text-light"
                  id="exampleTextarea1" rows="6" required><%= product.product_description %></textarea>
              </div>
              <div class="">
                <!-- <label class="col-sm-3 col-form-label">Images</label> -->
                <div class="row d-flex justify-content-center ">

                 


                  <!-- Image Upload 1 -->
                  <div class="col-lg-3 col-md-6">
                    <div class="rounded-image-preview">
                      <label for="imageInput1" class="image-label">Image 1
                        <div class="rounded-image-preview">
                          <img id="imagePreview1" src="/public/products/images/<%= product.images.image1 %>" alt="Preview" />
                        </div>
                        <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput"
                          onchange="updateImagePreview(this, 'imagePreview1', '/products/images/<%= product.images.image1 %>', 'removeButton1')">
                      </label>
                    </div>
                    <button type="button" style="display: none;" class="remove-button" id="removeButton1"
                      onclick="removeImagePreview('imagePreview1', '/products/images/<%= product.images.image1 %>', 'removeButton1')">Remove</button>
                  </div>

                  <!-- Image Upload 2 -->
                  <div class="col-lg-3 col-md-6">
                    <div class="rounded-image-preview">
                      <label for="imageInput2" class="image-label">Image 2
                        <div class="rounded-image-preview">
                          <img id="imagePreview2" src="/public/products/images/<%= product.images.image2 %>" alt="Preview" />
                        </div>
                        <input name="image2" type="file" accept="image/*" id="imageInput2" class="imageInput"
                          onchange="updateImagePreview(this, 'imagePreview2', '/products/images/<%= product.images.image2 %>', 'removeButton2')">
                      </label>
                    </div>
                    <button type="button" style="display: none;" class="remove-button" id="removeButton2"
                      onclick="removeImagePreview('imagePreview2', '/products/images/<%= product.images.image2 %>', 'removeButton2')">Remove</button>
                  </div>
                  <!-- Repeat similar code for Image Upload 3 and 4 with unique IDs -->
                  <div class="col-lg-3 col-md-6">
                    <div class="rounded-image-preview">
                      <label for="imageInput3" class="image-label">Image 3
                        <div class="rounded-image-preview">
                          <img id="imagePreview3" src="/public/products/images/<%= product.images.image3 %>" alt="Preview" />
                        </div>
                        <input name="image3" type="file" accept="image/*" id="imageInput3" class="imageInput"
                          onchange="updateImagePreview(this, 'imagePreview3', '/products/images/<%= product.images.image3 %>', 'removeButton3')">
                      </label>
                    </div>
                    <button type="button" style="display: none;" class="remove-button" id="removeButton3"
                      onclick="removeImagePreview('imagePreview3', '/products/images/<%= product.images.image3 %>', 'removeButton3')">Remove</button>
                  </div>

                  <div class="col-lg-3 col-md-6">
                    <div class="rounded-image-preview">
                      <label for="imageInput4" class="image-label">Image 4
                        <div class="rounded-image-preview">
                          <img id="imagePreview4" src="/public/products/images/<%= product.images.image4 %>" alt="Preview" />
                        </div>
                        <input name="image4" type="file" accept="image/*" id="imageInput4" class="imageInput"
                          onchange="updateImagePreview(this, 'imagePreview4', '/products/images/<%= product.images.image4 %>', 'removeButton4')">
                      </label>
                    </div>
                    <button type="button" style="display: none;" class="remove-button" id="removeButton4"
                      onclick="removeImagePreview('imagePreview4', '/products/images/<%= product.images.image4 %>', 'removeButton4')">Remove</button>
                  </div>



                  <!-- <div class="col-lg-3 col-md-6 rounded-image-preview">
                      <label for="imageInput1" class="image-label">Image 1
                        <div class="rounded-image-preview">
                          <img id="imagePreview1"
                            src="/products/images/<%= product.images.image1 %>"
                            alt="Preview" />
                        </div>
                        <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput" >
                      </label>
                    </div> -->

                  <!-- <div class="col-lg-3 col-md-6 rounded-image-preview ">
                    <label for="imageInput2" class="image-label ">Image 2
                      <div class="rounded-image-preview">
                        <img id="imagePreview2" src="/products/images/<%= product.images.image2 %>" alt="Preview" />
                      </div>
                      <input name="image2" type="file" accept="image/*" id="imageInput2" class="imageInput">
                    </label>
                  </div>

                  <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput3" class="image-label">Image 3
                      <div class="rounded-image-preview">
                        <img id="imagePreview3" src="/products/images/<%= product.images.image3 %>" alt="Preview" />
                      </div>
                      <input name="image3" type="file" accept="image/*" id="imageInput3" class="imageInput">
                    </label>
                  </div>

                  <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput4" class="image-label">Image 4
                      <div class="rounded-image-preview">
                        <img id="imagePreview4" src="/products/images/<%= product.images.image4 %>" alt="Preview" />
                      </div>
                      <input name="image4" type="file" accept="image/*" id="imageInput4" class="imageInput">
                    </label>
                  </div> -->

                </div>




              </div>


              <button type="submit" class="btn btn-lg btn-primary mr-2 mt-5">Edit product</button>
            </form>
          </div>
        </div>
      </div>


    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">

    </footer>
    <!-- partial -->
  </div>

  <%- include('../layouts/admin/footer.ejs') %>
