<%- include('../layouts/admin/header.ejs') %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

<% var now = Date.now() %>

<div class="main-panel">
    <div class="content-wrapper">
        <div></div>
 <!-- ======================== Table ========================= -->
 <div class=" row   mt-3">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">      
        
        <div class="d-flex justify-content-between mb-5">
          <h4 class="card-title">All Offers</h4>
          <a href="/admin/addOffer"
              class="btn btn-outline-success d-flex align-items-center">&nbsp<b>+ </b> &nbsp add
              offer</a>
      </div>
      <!-- <h4 class="card-title">Offers</h4>
      <a class="badge badge-outline-primary" href="">Add offer</a> -->

                <div class="table-responsive ">
                    <table id="table1" class="table ">
                    <thead>
                        <tr>
                            <th> Offer Name </th>
                            <th> Starting date </th>
                            <th> Expiry date </th>
                            <th> percentage </th>
                            <th> Edit</th>
                            <th> Status </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                           <% if( offers && offers.length > 0 ){ %>
                            <% for ( let offer of offers ) { %>
                                
                                <% if( offer.startingDate < now && offer.expiryDate > now && offer.status ) { var active = "Active" } else if( offer.startingDate > now && offer.status ) { var active = "Upcoming"} else if( offer.expiryDate < now && offer.status ) { var active = "Expired"} %>

                                <tr>
                                    <td class="category-name">
                                        <span class="pl-2"><%= offer.name %></span>
                                    </td>
                                    <td class="category-name">
                                        <span class="pl-2"><%= offer.startingDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                            month: 'short' , day: '2-digit' }).replace(/\//g,'-') %></span>
                                    </td>
                                    <td class="category-name">
                                        <span class="pl-2"><%=  offer.expiryDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                            month: 'short' , day: '2-digit' }).replace(/\//g,'-')  %></span>
                                    </td>
                                    <td class="category-name">
                                        <span class="pl-2"><%= offer.percentage %></span>
                                    </td>
                                    
                                    <td>
                                        <a href="/admin/editOffer/<%= offer._id %>"><button type="button" class="btn btn-dark btn-icon-text">Edit<i class="mdi mdi-file-check btn-icon-append"></i>
                                        </button></a>
                                    </td>

                                    <td>
                                        <% if( offer.status ){ %>
                                            <span id="active-<%= offer._id%>" class="<% if( active === 'Active' ) {%>text-success<% } else if ( active === 'Upcoming' ) {%>text-primary<% } else {%>text-warning<% } %>"><%= active %></span>                           
                                        <% } else { %>
                                            <span class="text-danger">Cancelled</span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if( (active === "Active" || active === "Upcoming") && offer.status ) { %>
                                            <div id="cancel-<%= offer._id %>" style="cursor: pointer;" class="badge"><a class="badge badge-outline-danger" onclick="cancelOffer('<%= offer._id %>')">Cancel</a></div>        
                                        <% } %>                            
                                    </td>
                                </tr>
                            <% } %>
                           <% } %>
                        
                        
                    </tbody>
                    </table>
                </div>
            

              </div>
            </div>
            </div>
</div>
</div>
</div>

<style>
    .pagination-btn{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    }
    .pagination-btn a{
        text-decoration: none;
        color: #ececec;
    }
    .pagination-btn a :hover{
        color: #111;
    }
    .pagination-btn button:hover{
        color: #111;
    }
    .pagination-btn button:active{
        background-color: #fff;
        color: #111!important;
    }
    .category-name span p{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    .modal-content p{
        width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media( max-width : 499px){
        .modal-content p{
        width: calc(100% - 44px);
        overflow: hidden;
        text-overflow: ellipsis;
    }
    }
</style>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

<script>
    new DataTable('#table1');
</script>





<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function cancelOffer( offerId ){
        const cancelbtn = document.getElementById(`cancel-${offerId}`)
        const spanbtn = document.getElementById(`active-${offerId}`)
        const cancelmsg = document.getElementById(`cancelspn-${offerId}`)
        try {
            const response = await axios.patch('/admin/cancelOffer',{ offerId })
            console.log(response);
            if ( response.data.cancelled ) {
                console.log();
                cancelbtn.style.display = 'none'
                spanbtn.className = ''
                spanbtn.innerHTML = 'Cancelled'
                spanbtn.style.color = '#dc3545'                

            }
        } catch (error) {
            console.log(error.message);
        }
    }
</script>

<%- include('../layouts/admin/footer.ejs') %>
