<%- include('../layouts/user/header.ejs') -%>
<style>
    #carouselExampleIndicators {
      max-width: 1200px; /* Set your desired max-width */
      margin: auto; /* Center the carousel */
    }
    
  </style>
<main class="main">
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
        
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <% if (banners.length>=3){%>
        <div class="carousel-inner  ">
          <div class="carousel-item  active">
            <img class="d-block w-100" src="/public/products/banners/<%=banners[0].banner%>" alt="First slide">
            <div class="intro-content animated fadeIn">
                <h3 class="intro-subtitle text-white"><%= banners[0].subtext %></h3>
                
                <h1 class="intro-title text-white"><%= banners[0].title %></h1>

                <a href="<%=banners[0].bannerURL%>" class="btn btn-outline-white">
                    <span>SHOP NOW</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div><!-- End .intro-content -->
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/public/products/banners/<%=banners[1].banner%>" alt="Second slide">
            <div class="intro-content">
                <h3 class="intro-subtitle text-white"><%= banners[1].subtext %></h3>
                
                <h1 class="intro-title text-white"><%= banners[1].title %></h1>

                <a href=<%=banners[1].bannerURL%> class="btn btn-outline-white">
                    <span>SHOP NOW</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div><!-- End .intro-content -->
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/public/products/banners/<%=banners[2].banner%>" alt="Third slide">
            <div class="intro-content">
                <h3 class="intro-subtitle text-white"><%= banners[2].subtext %></h3>
                
                <h1 class="intro-title text-white"><%= banners[2].title %></h1>

                <a href="<%=banners[2].bannerURL%>" class="btn btn-outline-white">
                    <span>SHOP NOW</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div><!-- End .intro-content -->
          </div>
        </div>
        <%}%>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

            <div class="owl-carousel owl-simple mt-4 mb-4" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": false,
                    "margin": 30,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":2
                        },
                        "420": {
                            "items":3
                        },
                        "600": {
                            "items":4
                        },
                        "900": {
                            "items":5
                        },
                        "1024": {
                            "items":6
                        }
                    }
                }'>
                <a href="/shop?category=&gender=&brand=Nike&minPrice=&maxPrice=" class="brand">
                    <img src="/public/userAssets/assets/images/brands/nike-PhotoRoom.png-PhotoRoom.png" alt="Brand Name">
                </a>

                <a href="/shop?category=&gender=&brand=Newbalance&minPrice=&maxPrice=" class="brand">
                    <img src="/public/userAssets/assets/images/brands/nb-PhotoRoom.png-PhotoRoom.png" alt="Brand Name">
                </a>

                <a href="/shop?category=&gender=&brand=Jordan&minPrice=&maxPrice=" class="brand">
                    <img src="/public/userAssets/assets/images/brands/jordan-PhotoRoom.png-PhotoRoom.png" alt="Brand Name">
                </a>

                <a href="/shop?category=&gender=&brand=Converse&minPrice=&maxPrice=" class="brand">
                    <img src="/public/userAssets/assets/images/brands/convers-PhotoRoom.png-PhotoRoom.png" alt="Brand Name">
                </a>

                <a href="/shop?category=&gender=&brand=Puma&minPrice=&maxPrice=" class="brand">
                    <img src="/public/userAssets/assets/images/brands/puma-PhotoRoom.png-PhotoRoom.png" alt="Brand Name">
                </a>

                <a href="/shop?category=&gender=&brand=Adidas&minPrice=&maxPrice=" class="brand">
                    <img src="/public/userAssets/assets/images/brands/adidas-PhotoRoom.png-PhotoRoom.png" alt="Brand Name">
                </a>
            </div><!-- End .owl-carousel -->
        

 

  <div class="icon-boxes-container icon-boxes-separator bg-transparent">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-rocket"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                          <p>Orders $50 or more</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->
              
              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-rotate-left"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                          <p>Within 30 days</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-info-circle"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                          <p>when you sign up</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-life-ring"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                          <p>24/7 amazing services</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->
          </div><!-- End .row -->
      </div><!-- End .container -->
  </div><!-- End .icon-boxes-container -->

  
              

  <% let menCount = 0; %>
  <% let womenCount = 0; %>
  
  <% products.forEach(product => { %>
    <% if (product.gender === "Male") { %>
      <% menCount++; %>
    <% } else if (product.gender === "Women") { %>
      <% womenCount++; %>
    <% } %>
  <% }); %>

  <div class="container">
      <div class="row justify-content-center">
          

          <div class="col-sm-6 col-md-4">
              <div class="banner banner-cat">
                  <a href="#">
                      <img src="/public/userAssets/assets/images/category/jia-ye-erHlzWCN6zQ-unsplash.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-overlay text-center">
                      <h3 class="banner-title font-weight-normal">Men's</h3><!-- End .banner-title -->
                      <h4 class="banner-subtitle"><%= menCount %> Products</h4><!-- End .banner-subtitle -->
                      <a href="/shop?category=&gender=Male&brand=&minPrice=&maxPrice=" class="banner-link">SHOP NOW</a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
          </div><!-- End .col-md-4 -->

          <div class="col-sm-6 col-md-4">
              <div class="banner banner-cat">
                  <a href="#">
                      <img src="/public/userAssets/assets/images/category/josh-post-HA87jd_C0Tc-unsplash.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-overlay text-center">
                      <h3 class="banner-title font-weight-normal">Women's</h3><!-- End .banner-title -->
                      <h4 class="banner-subtitle"><%= womenCount %> Products</h4><!-- End .banner-subtitle -->
                      <a href="/shop?category=&gender=Women&brand=&minPrice=&maxPrice=" class="banner-link">SHOP NOW</a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
          </div><!-- End .col-md-4 -->
      </div><!-- End .row -->
  </div><!-- End .container -->


           

  <div class="mb-4"></div><!-- End .mb-4 -->




  <div class="container">
      <div class="cta cta-horizontal cta-horizontal-box bg-image " style="background-image: url(/public/userAssets/assets/images/demos/demo-10/bg-1.jpg);">
          <div class="row flex-column flex-lg-row align-items-lg-center">
              <div class="col">
                  <h3 class="cta-title text-primary">New Deals! Start Daily at 12pm e.t.</h3><!-- End .cta-title -->
                  <p class="cta-desc">Get <em class="font-weight-medium">FREE SHIPPING* & 5% rewards</em> </p><!-- End .cta-desc -->
              </div><!-- End .col -->
              
              
              <div class="col-auto">
                  <a href="#" class="btn btn-white-primary btn-round"><span>Add to Cart for $50.00/yr</span><i class="icon-long-arrow-right"></i></a>
              </div><!-- End .col-auto -->
          </div><!-- End .row -->
      </div><!-- End .cta-horizontal -->
  </div><!-- End .container -->

  <div class="container">
    <div class="heading heading-center mb-6 mt-4">
        <h2 class="title">Recent Arrivals</h2><!-- End .title -->
        <p style="font-size: larger;" class="mb-3">Step Up Your Style</p>
  <div class="products mb-3">
    <div class="row justify-content-center">
        <% if (products.length > 8) { %>
        <% for(i=0;i<8;i++) {%>
          <div class="col-6 col-md-4 col-lg-4 col-xl-3">
              <div class="product product-7 text-center">
                  <figure class="product-media" style="position: relative;">
                      <a href="/product?id=<%= products[i]._id %>">
                          <img src="/public/products/croped/<%= products[i].images.image1 %>" alt="Product image" class="product-image">
                          <img src="/public/products/croped/<%= products[i].images.image2 %>" alt="Product image" class="product-image-hover">
                          <%if (products[i].offer ){%>
                            <div class="product-lable-badge" style=" position: absolute;
                            top: 20px; 
                            left: 20px; 
                            background-color: red;
                            color: white;
                            padding-left: 10px;
                            padding-right: 10px;
                            ">
                              <span class="product-lable" style="font-size: 12px;"><%= products[i].offer.percentage%>% OFF</span>
                            </div>
                            <%}%>
                      </a>

                      <div class="product-action-vertical">
                          <a href="#" class="btn-product-icon btn-wishlist " onclick="addtoWishList('<%= products[i]._id %>','<%= user %>')"><span>add to wishlist</span></a>
                      </div><!-- End .product-action-vertical -->
                  </figure><!-- End .product-media -->

                  <div class="product-body">
                    <div class="product-cat">
                      <a  rel="tag" style="font-size: 14px;"><%= products[i].gender%></a>, 
                    <a  rel="tag" style="font-size: 14px;"><%= products[i].category %></a>
                    </div>
                      <h3 class="product-title"><a><%= products[i].product_name %></a></h3><!-- End .product-title -->
                      <%if (products[i].offer ){%>
                        <div class="product-price">
                           <del> ₹<%= products[i].product_price%></del> 
                           <span class="mx-3">₹<%= Math.floor(products[i].discountedPrice) %></span>
                          
                        </div><!-- End .product-price -->
                        <%} else {%>
                          <div class="product-price">
                               ₹<%= products[i].product_price %>
                              
                           </div><!-- End .product-price -->
                        <%}%>
                  </div><!-- End .product-body -->
                  <div class="product-action">
                      <a   class="btn-product btn-cart" onclick="addCart('<%= products[i]._id %>','<%= user %>')"><span>add to cart</span></a>
                  </div><!-- End .product-action -->
              </div><!-- End .product -->
          </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

      <%}%>
      <%}%>

    </div>
</div>
</main><!-- End .main -->
<%- include('../layouts/user/footer.ejs') -%>