<%- include('../layouts/user/header.ejs') -%>
<main class="main">
  <div class="container">
      <div class="intro-slider-container slider-container-ratio mb-2">
          <div class="intro-slider owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl" data-owl-options='{"nav": false}'>
              <div class="intro-slide">
                  <figure class="slide-image">
                      <picture>
                          <source media="(max-width: 480px)" srcset="/public/userAssets/assets/images/demos/demo-10/slider/slide-1-480w.jpg">
                          <img src="/public/userAssets/assets/images/demos/demo-10/slider/slide-1.jpg" alt="Image Desc">
                      </picture>
                  </figure><!-- End .slide-image -->

                  <div class="intro-content">
                      <h3 class="intro-subtitle">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                      <h1 class="intro-title text-white">Sneakers & Athletic Shoes</h1><!-- End .intro-title -->

                      <div class="intro-price text-white">from $9.99</div><!-- End .intro-price -->

                      <a href="category.html" class="btn btn-white-primary btn-round">
                          <span>SHOP NOW</span>
                          <i class="icon-long-arrow-right"></i>
                      </a>
                  </div><!-- End .intro-content -->
              </div><!-- End .intro-slide -->

              
          </div><!-- End .intro-slider owl-carousel owl-simple -->
          <span class="slider-loader"></span><!-- End .slider-loader -->
      </div><!-- End .intro-slider-container -->
  </div><!-- End .container -->

  <div class="banner-group">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="banner banner-overlay">
                              <a href="#">
                                  <img src="/public/userAssets/assets/images/demos/demo-10/banners/banner-1.jpg" alt="Banner">
                              </a>

                              <div class="banner-content banner-content-right">
                                  <h4 class="banner-subtitle"><a href="#">New Arrivals</a></h4><!-- End .banner-subtitle -->
                                  <h3 class="banner-title text-white"><a href="#">Sneakers & <br>Athletic Shoes</a></h3><!-- End .banner-title -->
                                  <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                              </div><!-- End .banner-content -->
                          </div><!-- End .banner -->
                      </div><!-- End .col-sm-6 -->

                      <div class="col-sm-6">
                          <div class="banner banner-overlay banner-overlay-light">
                              <a href="#">
                                  <img src="/public/userAssets/assets/images/demos/demo-10/banners/banner-2.jpg" alt="Banner">
                              </a>

                              <div class="banner-content">
                                  <h4 class="banner-subtitle bright-black"><a href="#">Clearance</a></h4><!-- End .banner-subtitle -->
                                  <h3 class="banner-title"><a href="#">Sandals</a></h3><!-- End .banner-title -->
                                  <div class="banner-text"><a href="#">up to 70% off</a></div><!-- End .banner-text -->
                                  <a href="#" class="btn btn-outline-gray banner-link btn-round">Shop Now</a>
                              </div><!-- End .banner-content -->
                          </div><!-- End .banner -->
                      </div><!-- End .col-sm-6 -->
                  </div><!-- End .row -->

                  <div class="banner banner-large banner-overlay d-none d-sm-block">
                      <a href="#">
                          <img src="/public/userAssets/assets/images/demos/demo-10/banners/banner-3.jpg" alt="Banner">
                      </a>

                      <div class="banner-content">
                          <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4><!-- End .banner-subtitle -->
                          <h3 class="banner-title text-white"><a href="#">Slip-On Loafers</a></h3><!-- End .banner-title -->
                          <div class="banner-text text-white"><a href="#">up to 30% off</a></div><!-- End .banner-text -->
                          <a href="#" class="btn btn-outline-white banner-link btn-round">Shop Now</a>
                      </div><!-- End .banner-content -->
                  </div><!-- End .banner -->
              </div><!-- End .col-lg-8 -->

              <div class="col-lg-4 d-sm-none d-lg-block">
                  <div class="banner banner-middle banner-overlay">
                      <a href="#">
                          <img src="/public/userAssets/assets/images/demos/demo-10/banners/banner-4.jpg" alt="Banner">
                      </a>

                      <div class="banner-content banner-content-bottom">
                          <h4 class="banner-subtitle text-white"><a href="#">On Sale</a></h4><!-- End .banner-subtitle -->
                          <h3 class="banner-title text-white"><a href="#">Amazing <br>Lace Up Boots</a></h3><!-- End .banner-title -->
                          <div class="banner-text text-white"><a href="#">from $39.00</a></div><!-- End .banner-text -->
                          <a href="#" class="btn btn-outline-white banner-link btn-round">Discover Now</a>
                      </div><!-- End .banner-content -->
                  </div><!-- End .banner -->
              </div><!-- End .col-lg-4 -->
          </div><!-- End .row -->
      </div><!-- End .container -->
  </div><!-- End .banner-group -->

  <div class="icon-boxes-container icon-boxes-separator bg-transparent">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-rocket"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                          <p>Orders $50 or more</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->
              
              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-rotate-left"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                          <p>Within 30 days</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-info-circle"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                          <p>when you sign up</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon text-primary">
                          <i class="icon-life-ring"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                          <p>24/7 amazing services</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->
          </div><!-- End .row -->
      </div><!-- End .container -->
  </div><!-- End .icon-boxes-container -->

  
              

  <% let menCount = 0; %>
  <% let womenCount = 0; %>
  
  <% products.forEach(product => { %>
    <% if (product.gender === "Men's") { %>
      <% menCount++; %>
    <% } else if (product.gender === "Women's") { %>
      <% womenCount++; %>
    <% } %>
  <% }); %>

  <div class="container">
      <div class="row justify-content-center">
          

          <div class="col-sm-6 col-md-4">
              <div class="banner banner-cat">
                  <a href="#">
                      <img src="/public/userAssets/assets/images/demos/demo-10/banners/banner-6.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-overlay text-center">
                      <h3 class="banner-title font-weight-normal">Men's</h3><!-- End .banner-title -->
                      <h4 class="banner-subtitle"><%= menCount %> Products</h4><!-- End .banner-subtitle -->
                      <a href="category.html" class="banner-link">SHOP NOW</a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
          </div><!-- End .col-md-4 -->

          <div class="col-sm-6 col-md-4">
              <div class="banner banner-cat">
                  <a href="#">
                      <img src="/public/userAssets/assets/images/demos/demo-10/banners/banner-5.jpg" alt="Banner">
                  </a>

                  <div class="banner-content banner-content-overlay text-center">
                      <h3 class="banner-title font-weight-normal">Women's</h3><!-- End .banner-title -->
                      <h4 class="banner-subtitle"><%= womenCount %> Products</h4><!-- End .banner-subtitle -->
                      <a href="category.html" class="banner-link">SHOP NOW</a>
                  </div><!-- End .banner-content -->
              </div><!-- End .banner -->
          </div><!-- End .col-md-4 -->
      </div><!-- End .row -->
  </div><!-- End .container -->

  <div class="bg-light pt-5 pb-10 mb-3">
    <div class="container">
        <div class="heading heading-center mb-3">
            <h2 class="title-lg">New Arrivals</h2><!-- End .title -->
          <p style="font-size: larger;">Celebrate Every Step </p>
        </div><!-- End .heading -->

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane tab-pane-shadow p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                <div class="owl-carousel owl-simple carousel-equal-height" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 0,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "480": {
                                "items":2
                            },
                            "768": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            },
                            "1200": {
                                "items":4,
                                "nav": true
                            }
                        }
                    }'>
                    <% for(i=0;i<6;i++) {%>
                      <div class="product product-11 text-center border">
                          <figure class="product-media">
                              <a href="/product?id=<%= products[i]._id %>" >
                                  <img src="/public/products/images/<%= products[i].images.image1 %>" alt="Product image" class="product-image">
                                  <img src="/public/products/images/<%= products[i].images.image2 %>" alt="Product image" class="product-image-hover">
                              </a>

                              <div class="product-action-vertical">
                                  <a  class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                              </div>
                          </figure>

                          <div class="product-body">
                              <div class="product-cat">
                                  <a ><%= products[i].gender%></a>,
                                  <a ><%= products[i].category%></a>
                              </div>
                              <h3 class="product-title"><a href="/product?id=<%= products[i]._id %>"><%= products[i].product_name %></a></h3>
                              <div class="product-price">
                                  ₹<%= products[i].product_price %>
                              </div>
                          </div>
                          <div class="product-action">
                              <a  class="btn-product btn-cart" onclick="addCart('<%= products[i]._id %>','<%= user %>')"><span>add to cart</span></a>
                          </div><!-- End .product-action -->
                      
                      </div><!-- End .product -->
                      <%}%>

                     
            
               
              
                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->

           

  <div class="mb-4"></div><!-- End .mb-4 -->




  <div class="container">
      <div class="cta cta-horizontal cta-horizontal-box bg-image " style="background-image: url(/public/userAssets/assets/images/demos/demo-10/bg-1.jpg);">
          <div class="row flex-column flex-lg-row align-items-lg-center">
              <div class="col">
                  <h3 class="cta-title text-primary">New Deals! Start Daily at 12pm e.t.</h3><!-- End .cta-title -->
                  <p class="cta-desc">Get <em class="font-weight-medium">FREE SHIPPING* & 5% rewards</em> on every order with Molla Theme rewards program</p><!-- End .cta-desc -->
              </div><!-- End .col -->
              
              <div class="col-auto">
                  <a href="#" class="btn btn-white-primary btn-round"><span>Add to Cart for $50.00/yr</span><i class="icon-long-arrow-right"></i></a>
              </div><!-- End .col-auto -->
          </div><!-- End .row -->
      </div><!-- End .cta-horizontal -->
  </div><!-- End .container -->
</main><!-- End .main -->
<%- include('../layouts/user/footer.ejs') -%>