<%- include('../layouts/user/header.ejs') -%>
<main class="main">
  <div class="page-header text-center" style="background-image: url('/public/userAssets/assets/images/page-header-bg.jpg')">
      <div class="container">
          <h1 class="page-title">Checkout</h1>
      </div><!-- End .container -->
  </div><!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/cart">Shopping Cart</a></li>
              <li class="breadcrumb-item active" aria-current="page">Checkout</li>

          </ol>
      </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content ">
      <div class="cart mb-5">
          <div class="container">
              <div class="row">
                  <div class="col-lg-9 cart-item-box">

                      <div class=" py-4  mb-4  " style="border-radius: 10px; background: #F3F3F9;">
                          <div class="form-check d-flex align-items-start flex-column mx-4 py-3">
                              <div>
                                  <h5>1. Delivery Address</h5>

                              </div>
                              <div class="form-check d-flex align-items-center flex-column co mx-4">

                                  <div class="">
                                      <p class="text-dark"><b>
                                              <%= address.fullName %>
                                          </b> , <%= address.city %>, <%= address.state %>.
                                                  Contanct
                                                  Number:
                                                  <b style="color: #043a6c;">
                                                      <span class="material-symbols-outlined"
                                                          style="font-size: 13px;">smartphone</span>
                                                      <%= address.mobileNumber %>
                                                  </b>
                                      </p>
                                      <p>
                                          <%= address.pincode %>, <%= address.country %>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <hr>

                      <h5 class="text-dark mb-3">2. &nbsp; Payment method</h5>

                      <form action="/checkout/paymentselection" id="paymentForm" method="post">

                          <div class="col-12 row">
                              <div class="col-md-5">
                                  <label class="p-3 border rounded-4 m-2 custom-label">
                                      <div class="form-check d-flex align-items-center mx-4">
                                          <input class="form-check-input" type="radio" name="paymentMethod" value="COD" id="codRadio">
                                          <div class="mx-5 p-3">
                                              <b>Cash on Delivery</b>
                                          </div>
                                      </div>
                                  </label>
                              </div>
                              <div class="col-md-7">
                                  <label class="p-3 border rounded-4 m-2 custom-label">
                                      <div class="form-check d-flex align-items-center mx-4">
                                          <input class="form-check-input" type="radio" name="paymentMethod" value="Online" id="onlineRadio" >
                                          <div class="mx-4 p-3 row d-flex justify-content-between">
                                              <span> <b>Online Payment</b></span>
                                              <img width="130px" class="d-flex align-items-end mx-3" src="/public/userAssets/assets/images/payment-icons.jpg" alt="">
                                          </div>
                                      </div>
                                  </label>
                              </div>
                          </div>
                          <input type="text" name="address" value="<%= address._id %>" hidden>

                      </form>





                      <hr>

                      <div class=" py-4  mt-1  " style="border-radius: 10px; background: #F3F3F9;">
                          <div class="form-check d-flex align-items-center mx-4 ">
                              <h5>3. Items and delivery</h5>
                          </div>
                      </div>

                  </div><!-- End .col-lg-9 -->
                  <aside class="col-lg-3">
                      <div class="summary summary-cart">

                          <button class="btn btn-outline-primary-2  btn-block py-3"
                              style="background-color: #000; color: #fff; "
                              onMouseOver="this.style.background='#575757'"
                              onMouseOut="this.style.background='#000'" id="paymentBtn" disabled>Proceed to
                              Checkout</button>

                          <h3 class="summary-title"></h3>

                          <table class="table table-summary">
                              <tbody>

                                  <tr class="summary-subtotal">
                                      <td>Subtotal:</td>
                                      <td>₹<span id="subTotalDisplay">
                                              <%=total%>
                                          </span></td>
                                  </tr><!-- End .summary-subtotal -->




                                  <tr class="summary-shipping-row">
                                      <td>
                                          <label class="" for="standart-shipping">Discount:</label>
                                      </td>
                                      <td>0.00</td>
                                  </tr><!-- End .summary-shipping-row -->





                                  <tr class="summary-total">
                                      <td>Total:</td>
                                      <td>₹<span id="totalDisplay">
                                              <%=total%>
                                          </span></td>
                                  </tr><!-- End .summary-total -->
                              </tbody>
                          </table><!-- End .table table-summary -->

                          <!-- <button class="btn btn-outline-primary-2 btn-order btn-block ">Use This
                          Address</button> -->
                      </div><!-- End .summary -->
                  </aside><!-- End .col-lg-3 -->
              </div><!-- End .row -->
          </div><!-- End .container -->
      </div><!-- End .cart -->
  </div><!-- End .page-content -->
</main><!-- End .main -->


<script>
  // form submit handil
  document.getElementById("paymentBtn").addEventListener("click", function () {
      document.getElementById("paymentForm").submit();
  })
</script>

<script>
  // Get references to the radio buttons and the submit button
  const codRadio = document.getElementById('codRadio');
  const onlineRadio = document.getElementById('onlineRadio');
  const paymentBtn = document.getElementById('paymentBtn');

  // Add event listeners to the radio buttons
  codRadio.addEventListener('change', toggleButtonState);
  onlineRadio.addEventListener('change', toggleButtonState);

  // Function to toggle the button state based on the radio button selection
  function toggleButtonState() {
      if (codRadio.checked || onlineRadio.checked) {
          paymentBtn.disabled = false; // Enable the button if a radio button is selected
      } else {
          paymentBtn.disabled = true; // Disable the button if no radio button is selected
      }
  }

</script>
<%- include('../layouts/user/footer.ejs') -%>
