<%- include('../layouts/user/header.ejs') -%>
<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container d-flex align-items-center">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Products</a></li>
          </ol>

      </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div class="page-content">
      <div class="container">
          <div class="product-details-top">
              <div class="row">
                  <div class="col-md-6">
                      <div class="product-gallery product-gallery-vertical">
                          <div class="row">
                              <figure class="product-main-image">
                                  <img id="product-zoom"
                                      src="/public/products/images/<%= product.images.image1 %>"
                                      data-zoom-image="/public/products/images/<%= product.images.image1 %>"
                                      alt="product image">

                                  <!-- <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                              <i class="icon-arrows"></i>
                          </a> -->
                              </figure><!-- End .product-main-image -->

                              <div id="product-zoom-gallery" class="product-image-gallery">
                                  <a class="product-gallery-item active" href="#"
                                      data-image="/public/products/images/<%= product.images.image1 %>"
                                      data-zoom-image="/public/products/images/<%= product.images.image1 %>">
                                      <img src="/public/products/images/<%= product.images.image1 %>"
                                          alt="product side">
                                  </a>

                                  <a class="product-gallery-item" href="#"
                                      data-image="/public/products/images/<%= product.images.image2 %>"
                                      data-zoom-image="/public/products/images/<%= product.images.image2 %>">
                                      <img src="/public/products/images/<%= product.images.image2 %>"
                                          alt="product cross">
                                  </a>

                                  <a class="product-gallery-item" href="#"
                                      data-image="/public/products/images/<%= product.images.image3 %>"
                                      data-zoom-image="/public/products/images/<%= product.images.image3 %>">
                                      <img src="/public/products/images/<%= product.images.image3 %>"
                                          alt="product with model">
                                  </a>

                                  <a class="product-gallery-item" href="#"
                                      data-image="/public/products/images/<%= product.images.image4 %>"
                                      data-zoom-image="/public/products/images/<%= product.images.image4 %>">
                                      <img src="/public/products/images/<%= product.images.image4 %>"
                                          alt="product back">
                                  </a>
                              </div><!-- End .product-image-gallery -->
                          </div><!-- End .row -->
                      </div><!-- End .product-gallery -->
                  </div><!-- End .col-md-6 -->

                  <div class="col-md-6">
                      <div class="product-details">
                          <h1 class="product-title">
                              <%= product.product_name %>
                          </h1><!-- End .product-title -->

                          <div class="ratings-container">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                              </div><!-- End .ratings -->
                              <a class="ratings-text" href="#product-review-link" id="review-link"></a>
                          </div><!-- End .rating-container -->

                          <div class="product-price">
                              ₹<%= product.product_price%>
                          </div><!-- End .product-price -->

                          <div class="product-content">
                              <p>
                                  <%= product.product_description%>
                              </p>
                          </div><!-- End .product-content -->

                          <div class="details-filter-row details-row-size">
                              <span>Category : <b>
                                      <%= product.category %>
                                  </b></span>

                              <div class="product-nav product-nav-thumbs">
                                  <p></p>

                              </div><!-- End .product-nav -->
                          </div><!-- End .details-filter-row -->




                          <div class="product-details-action">
                              <button onclick="addCart('<%= product._id %>','<%= user %>')"
                                  class="btn-product btn-cart"><span>add to cart</span></button>

                              <div class="details-action-wrapper">
                                  <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                          Wishlist</span></a>
                              </div><!-- End .details-action-wrapper -->
                          </div><!-- End .product-details-action -->

                          <div class="product-details-footer">
                              <div class="product-cat">
                                  <span>Gender:</span>
                                  <a><%= product.gender %></a>
                              </div><!-- End .product-cat -->

                              <div class="social-icons social-icons-sm">
                                  <span class="social-label">Share:</span>
                                  <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                          class="icon-facebook-f"></i></a>
                                  <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                          class="icon-twitter"></i></a>
                                  <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                          class="icon-instagram"></i></a>
                                  <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                          class="icon-pinterest"></i></a>
                              </div>
                          </div><!-- End .product-details-footer -->
                      </div><!-- End .product-details -->
                  </div><!-- End .col-md-6 -->
              </div><!-- End .row -->
          </div><!-- End .product-details-top -->
      </div>
  </div>
</main>
<%- include('../layouts/user/footer.ejs') -%>
