<%- include('../layouts/user/header.ejs') -%>

<main class="main">
  <div class="page-header text-center" style="background-image: url('/public/userAssets/assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">My Account<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="dashboard">
          <div class="container">
            <div class="row">
              <aside class="col-md-4 col-lg-3">
                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/wallet">Wallet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-coupons-link"  data-toggle="tab" href="#tab-coupons" role="tab" aria-controls="tab-coupons" aria-selected="false">Coupons</a>
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="confirmSignOut()">Sign Out</a>
            </li>
          
        </ul>
              </aside><!-- End .col-lg-3 -->

              <div class="col-md-8 col-lg-9">
                <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
              <div class="mx-5 " >
                <h1 class="text-center">My Profile</h1>
              <p style="color: #000; font-weight: 500;">Full Name    : <%= users.firstName %> <%= users.secondName %></p>
              <p style="color: #000; font-weight: 500;">Email Address      : <%= users.email %></p>
              <p style="color: #000; font-weight: 500;">Phone Number : <%= users.mobile %> </p>
              <p style="color: #000; font-weight: 500;">Country: India</p>
              <div>
                <p style="color: #000; font-weight: 500;">Your Referral Code:</p>
                <input type="text" id="referralCodeInput" value="<%=users.referralCode%>" readonly>
                <button onclick="copyToClipboard()"><i class="fas fa-copy"></i></button>
            </div>
            <p style="color: #777777; ">*Refer a friend, both get 100. Share the rewards!</p>

              
              </div>
              
            </div><!-- .End .tab-pane -->


            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link" >
              <h4>Account Details </h4>
              <form id="editProfileForm" action="/updateuser" method="post" novalidate>
                <div class="form-group">
                  <label for="firstName">First Name *</label>
                  <input type="text" name="firstName" class="form-control" value="<%= users.firstName %>" required>
                  <div class="error-message" id="firstNameError"></div>
                </div>
              
                <div class="form-group">
                  <label for="secondName">Last Name *</label>
                  <input type="text" name="secondName" class="form-control" value="<%= users.secondName %>" required>
                  <div class="error-message" id="secondNameError"></div>
                </div>
              
                
              
                <div class="form-group">
                  <label for="mobile">Mobile No *</label>
                  <input type="tel" name="mobile" class="form-control" value="<%= users.mobile %>" required>
                  <div class="error-message" id="mobileError"></div>
                </div>
              
                <button type="submit" class="btn btn-outline-primary-2">
                  <span>SAVE CHANGES</span>
                  <i class="icon-long-arrow-right"></i>
                </button>
              </form>
              

                    <hr>
              <%if(users.password){%>
                    <h4>Change Password</h4>
              
                    <form id="changePasswordForm" action="/changepassword" method="post" novalidate>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6">
                            <label >Current Password</label>
                            <input type="password" name="oldPassword" class="form-control" >
                            <div class="error-message alert-danger" id="oldPasswordError" ></div>

                          </div> 
                          <div class="col-sm-6">
                            <label >New Password</label>
                            <input type="password" name="newPassword" class="form-control" id="newPassword" >
                            <div class="error-message text-danger font-weight" id="newPasswordError"></div>
                          </div>
                        </div>
                        <!-- Display error message for validation -->
                    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                        <div class="alert alert-danger">
                        <ul>
                            <% errors.forEach(error => { %>
                            <li><%= error %></li>
                            <% }); %>
                        </ul>
                        </div>
                    <% } %>
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>CHANGE PASSWORD</span>
                          <i class="icon-long-arrow-right"></i>
                      </button>
                      </div>

                    </form>
                    <%}%>
            </div><!-- .End .tab-pane -->

            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
              <p>Track, Reorder, and Stay Updated with Your Shopping Journey Here!</p>
              <a href="/profile/orders" class="btn btn-outline-primary-2 p-5"><span>GO ORDERS</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- .End .tab-pane -->
            
            <div class="tab-pane fade" id="tab-coupons" role="tabpanel" aria-labelledby="tab-coupons-link">
                <div class="container-fluid d-flex flex-column justify-content-center py-5">

                    <h3 class="text-center">Coupons</h3>
                    <div class="row p-2 col-12 d-flex justify-content-center" >
                        <% for(let i in coupons){ %>
                            <% var dateTo=new Date(coupons[i].expiryDate); %>
                        
                          <% var redeemed = null; %>
    
                          <% for (var j = 0; j < coupons[i].usedUsers.length; j++) { %>
                              <% var usersId = coupons[i].usedUsers[j]; %>
                              <% if (usersId.toString() === user.toString()) { %>
                                  <% redeemed = usersId; %>
                                  <% break; %>
                              <% } %>
                          <% } %>
    
    
                        <div class="card  m-2 col-md-5 col-10 p-4 pt-3" style="background: #F3F3F9; border-radius: 10px;">
                            <div class="card-body ">
                                <h5 class="text-danger"><%if(redeemed!==null){%><i class="fa-solid fa-medal"></i> Redeemed<%}%></h5>
                                
                                <h6 class="card-title mb-1 <%if(redeemed!==null){%> text-light<%}%>"  style="font-size: 25px;">
                                    <i class="fa-solid fa-gift"></i>
                                    <%=coupons[i].code%>
                                </h6>
                                <p class="card-text"><%= coupons[i].description%>
                                </p>
                                <p class="card-text">Redeem upto <span class="text-dark">₹<%=coupons[i].discountAmount%></span>
                                </p>
                                <hr class="m-0 p-0 my-3">
                                <div>
                                    <p style="font-size: 10px;"> <b>T&C: </b>Coupon requires a <%=coupons[i].criteriaAmount%> minimum purchase. Use the code at checkout. Cannot be combined with other promotions. Limited-time offer."</p>
    
                                </div>
                                <div class="d-flex justify-content-end ">
                                    <%if(redeemed==null){%>
                                    <p class="text-dark" type="button" >expire on</p>
                                    <p class="mx-3">:</p>
                                    <p class="text-danger" type="button"   > <%= dateTo.toLocaleDateString() %></p>
                                    
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        
                        <%if(coupons.length==0){%>
                            <div class="card  m-2 col-md-5 col-10 p-4 pt-3" style="background: #F3F3F9; border-radius: 10px;">
                                <div class="card-body ">
                                   
                                    
                                    <h6 class="card-title mb-1 text-center text-light"  style="font-size: 25px;">
                                        <i class="fa-solid fa-gift"></i>
                                        No Offers
                                    </h6>
                                    
                                </div>
                            </div>
                        <%}%>
    
    
    
    
    
                    </div>
    
    
    
    
                </div>
                
              </div>
           

            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
              <h4 class="mx-5">Addresses</h4>
              <div class=" row p-2 mx-5 col-12 d-flex " >

                <div class="card  m-2 col-md-5 col-6" data-bs-toggle="modal"
                data-bs-target="#exampleModal" id="addAddressBtn"
                    style="background: #f9f9fc; border-radius: 10px; border: 1px dashed #777777; cursor: pointer; ">
                    <div class="card-body p-0 d-flex justify-content-around align-items-center">
                        <div class="row d-flex flex-column pt-2">
                            <i class="fa-solid fa-plus text-center mb-2" style="font-size: 40px;"></i>
                            <h4 class="text-light">Add-Address</h4>
                            <button id="addBTN" data-bs-toggle="modal" data-bs-target="#addModal" type="button" hidden>add</button>
                        </div>

                    </div>
                </div>
                <% if (address) { %>
                <%for(i in address){%>
                  <div class="card  m-2 col-md-5 col-6 p-4" style="background: #F3F3F9; border-radius: 10px;">
                      <div class="card-body ">
                          <h6 class="card-title" style="font-size: 15px;">
                              <%=address[i].fullName%>
                          </h6>
                          <p class="card-text">
                              <%=address[i].city%>, <%=address[i].state%>
                          <p class="card-text"> <%=address[i].mobileNumber%>
                          <p class="card-text"> <%=address[i].pincode%>, <%=address[i].country%>
                          <hr class="m-0 p-0 my-3">
                          <div class="d-flex justify-content-end ">
                              <p class="text-dark" type="button" id="editBTN" data-bs-toggle="modal" data-bs-target="#editModal<%=address[i]._id%>">Edit </p>
                              <p class="mx-3">|</p>
                              <p class="text-danger" type="button"   data-bs-toggle="modal" data-bs-target="#deleteModal<%=address[i]._id%>">Remove</p>
                              
                          </div>
                      </div>
                      <% if ((i + 1) % 3 === 0) { %>
                      </div>
                      <div class="row">
                 <% } %>
                 </div>
                  
                  <!-- end of card -->
                  <!-- Edit modal  -->
                  <div class="modal fade" id="editModal<%=address[i]._id%>" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-4">
                            <div class="modal-header">
                                <h5 class="" id="editModal">Edit Address</h5>
                                <button type="button" class=" btn-dark " data-bs-dismiss="modal"
                                    aria-label="Close">x</button>
                            </div>
                            <form action="/profile/user_address/edit" method="post" novalidate onsubmit="return validateAddressForm()">
                                <div class="modal-body p-4">
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1"
                                            class="form-label m-0">Country/Region
                                        </label>
                                        <input type="text" class="form-control address-input"
                                            id="country" name="country" value="<%=address[i].country%>" required>
                                            <div id="countryError" class="error-message"></div>
                                    </div>
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1" class="form-label m-0">Full name
                                            (First and Last
                                            name)
                                        </label>
                                        <input type="text" class="form-control address-input"
                                            id="fullName" value="<%=address[i].fullName%>" name="fullName" required>
                                            <div id="fullNameError" class="error-message"></div>
                                    </div>
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1" class="form-label m-0">Mobile
                                            number
                                        </label>
                                        <input type="number" class="form-control address-input"
                                            id="mobileNumber" value="<%=address[i].mobileNumber%>" name="mobileNumber" required>
                                            <div id="mobileNumberError" class="error-message"></div>
                                        </div>
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1" class="form-label m-0">Area,
                                            Street, Sector,
                                            Village
                                        </label>
                                        <input type="text" class="form-control address-input"
                                            id="city" value="<%=address[i].city%>" name="city" required>
                                            <div id="cityError" class="error-message"></div>
                                    </div>

                                    <div class=" row ">
                                        <div class=" col-6">
                                            <label for="exampleFormControlInput1" class="form-label m-0">State
                                            </label>
                                            <input type="text" class="form-control address-input"
                                                id="state" name="state" value="<%=address[i].state%>" required>
                                                <div id="stateError" class="error-message"></div>
                                        </div>
                                        <div class=" col-6">
                                            <label for="exampleFormControlInput1" class="form-label m-0">Pincode
                                            </label>
                                            <input type="number" value="<%=address[i].pincode%>" class="form-control address-input"
                                                id="pincode" name="pincode" required>
                                        </div>
                                        <input value="<%=address[i]._id%>" class="form-control address-input"
                                                id="exampleFormControlInput1" name="adressId" hidden required>
                                         <div id="pincodeError" class="error-message"></div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                                        data-bs-dismiss="modal">Close</a>
                                    <button type="submit" class="btn btn-outline-primary-2"
                                        style="border-radius: 7px; background: #000; color: #fff;">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                  <!-- end of edit Modal -->
                  <!-- delete modal -->
                  <div class="modal fade" id="deleteModal<%=address[i]._id%>" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-4">
                            <div class="modal-header">
                                <h5 class="" id="editModal">Are you sure to delete this</h5>
                                <button type="button" class=" btn-dark " data-bs-dismiss="modal"
                                    aria-label="Close">x</button>
                            </div>
                            
                                <div class="card  m-2 col-md-12 col-12 p-4" style="background: #F3F3F9; border-radius: 10px;">
                                    <div class="card-body ">
                                        <h6 class="card-title" style="font-size: 15px;">
                                            <%=address[i].fullName%>
                                        </h6>
                                        <p class="card-text">
                                            <%=address[i].city%>, <%=address[i].state%>
                                        </p>
                                        <p class="card-text">Contanct Number : <%=address[i].mobileNumber%>
                                        </p>
                                        <p class="card-text">Pincode : <%=address[i].pincode%>, <%=address[i].country%>
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                                        data-bs-dismiss="modal">Close</a>
                                    <a onclick="removeAddress('<%=address[i]._id%>')" class="btn btn-outline-primary-2"
                                        style="border-radius: 7px; background: #000; color: #fff;">Update</a>
                                </div>
                            
                        </div>
                    </div>
                </div>
                  <%}%>
                  <% } else { %>
                    
                    
                  <% } %>
                  
                  


            </div><!-- .End .tab-pane -->
          </div>
              </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
          </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

  
  <!-- add address Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="" id="exampleModalLabel">Add New Address</h5>
                <button type="button" class=" btn-dark " data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <form action="/profile/user_address" method="post" novalidate onsubmit="return validateAddAddressForm()">
                <div class="modal-body p-4">
                    <div class="mb-1">
                        <label for="country" class="form-label m-0">Country/Region</label>
                        <input type="text" class="form-control address-input" id="country" name="country" required>
                        <div id="countryError" class="error-message"></div>
                    </div>

                    <div class="mb-1">
                        <label for="fullName" class="form-label m-0">Full name (First and Last name)</label>
                        <input type="text" class="form-control address-input" id="fullName" name="fullName" required>
                        <div id="fullNameError" class="error-message"></div>
                    </div>

                    <div class="mb-1">
                        <label for="mobileNumber" class="form-label m-0">Mobile number</label>
                        <input type="tel" class="form-control address-input" id="mobileNumber" name="mobileNumber" required>
                        <div id="mobileNumberError" class="error-message"></div>
                    </div>

                    <div class="mb-1">
                        <label for="city" class="form-label m-0">Area, Street, Sector, Village</label>
                        <input type="text" class="form-control address-input" id="city" name="city" required>
                        <div id="cityError" class="error-message"></div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-1">
                                <label for="state" class="form-label m-0">State</label>
                                <input type="text" class="form-control address-input" id="state" name="state" required>
                                <div id="stateError" class="error-message"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-1">
                                <label for="pincode" class="form-label m-0">Pincode</label>
                                <input type="number" class="form-control address-input" id="pincode" name="pincode" required>
                                <div id="pincodeError" class="error-message"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-primary-2" style="border-radius: 7px;" data-bs-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-outline-primary-2"
                        style="border-radius: 7px; background: #000; color: #fff;">Add now</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- model end -->



<script>
  let addressBTN = document.getElementById("addAddressBtn")
  let modelBTN = document.getElementById("addBTN")

  addressBTN.addEventListener("click", function () {
      modelBTN.click()
  })
</script>
<!-- sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
<!-- Add the SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">



<%- include('../layouts/user/footer.ejs') -%>

<%if(updatePass==1){%>
    <div id="myAlert" data-aos="fade-down" class="alert alert-success col-3 fixed-top "
        style="left: 20px; top:20px; border-radius: 7px; opacity: 0.9;" role="alert">
        <h6 class="alert-heading">Password Successfully Updated</h6>
        <p class="fs-6 form-text text-white">Your password has been successfully updated.</p>
    </div>
    <%}else if(updatePassErr==1){%>
        <div id="myAlert" data-aos="fade-down" class="alert alert-danger col-3 fixed-top "
            style="left: 20px; top:20px; border-radius: 7px; opacity: 0.9;" role="alert">
            <h6 class="alert-heading">Password not match</h6>
            <p class="fs-6 form-text text-white">Please enter your Correct password.</p>
        </div>
        <%}%>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editProfileForm = document.getElementById('editProfileForm');

        editProfileForm.addEventListener('submit', function (e) {
            e.preventDefault();

            const firstName = editProfileForm.querySelector('input[name="firstName"]').value;
            const lastName = editProfileForm.querySelector('input[name="secondName"]').value;
            const email = editProfileForm.querySelector('input[name="email"]').value;
            const mobile = editProfileForm.querySelector('input[name="mobile"]').value;

            // Clear any previous error messages
            clearErrorMessages();

            // Perform validation
            let hasErrors = false;

            

            if (mobile.length !== 10) {
                showError('mobile', 'Mobile number must be exactly ten digits.');
                hasErrors = true;
            }

            if (!validateEmail(email)) {
                showError('email', 'Invalid email address.');
                hasErrors = true;
            }

            if (hasErrors) {
                return;
            }

            // If validation passes, you can use Fetch to submit the form
            fetch('/updateuser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    firstName: firstName,
                    secondName: lastName,
                    email: email,
                    mobile: mobile,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        // Update was successful
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: 'User data has been successfully updated',
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Failed to update profile. Please try again.',
                        });
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });

        

        function validateEmail(email) {
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,5}$/;
            return emailPattern.test(email);
        }

        function showError(fieldName, message) {
            const errorElement = document.getElementById(`${fieldName}Error`);
            errorElement.textContent = message;
            errorElement.style.color = 'red';
        }

        function clearErrorMessages() {
            const errorElements = document.querySelectorAll('.error-message');
            errorElements.forEach((element) => {
                element.textContent = '';
            });
        }
    });

    setTimeout(function() {
    document.getElementById('myAlert').style.display = 'none';
}, 4000);

setTimeout(function() {
    document.getElementById('myAlert1').style.display = 'none';
}, 500000);

setTimeout(function() {
    document.getElementById('myAlert2').style.display = 'none';
}, 5000);

document.addEventListener('DOMContentLoaded', function () {
  const newPasswordInput = document.getElementById('newPassword');
  const newPasswordError = document.getElementById('newPasswordError');
  const passwordPattern =/^\S{8,}$/;

  newPasswordInput.addEventListener('input', function () {
    const newPasswordValue = newPasswordInput.value;

    if (passwordPattern.test(newPasswordValue)) {
      newPasswordError.textContent = ''; // Clear any previous error message
    } else {
      newPasswordError.textContent = 'Password must be at least 8 characters long and cannot contain spaces.'; // Display an error message
    }
  });
});

</script>




<script>
    function validateAddressForm() {
        var country = document.getElementById("country").value;
        var fullName = document.getElementById("fullName").value;
        var mobileNumber = document.getElementById("mobileNumber").value;
        var city = document.getElementById("city").value;
        var state = document.getElementById("state").value;
        var pincode = document.getElementById("pincode").value;

        // Function to display an error message
        function showError(inputElement, errorMessage, errorId) {
            var errorElement = document.getElementById(errorId);
            errorElement.textContent = errorMessage;
            errorElement.style.color = 'red';
        }

        // Function to clear error messages
        function clearErrorMessages() {
            var errorElements = document.querySelectorAll('.error-message');
            errorElements.forEach(function (element) {
                element.textContent = '';
            });
        }

        // Validation for Country (non-empty)
        if (country.trim() === '') {
            showError(document.getElementById("country"), 'Country must not be empty', 'countryError');
            return false;
        }

        // Validation for Full Name (non-empty)
        if (fullName.trim() === '') {
            showError(document.getElementById("fullName"), 'Full Name must not be empty', 'fullNameError');
            return false;
        }

        // Validation for Mobile Number (non-empty, 10 digits)
        var mobilePattern = /^\d{10}$/;
        if (mobileNumber.trim() === '' || !mobilePattern.test(mobileNumber)) {
            showError(document.getElementById("mobileNumber"), 'Mobile Number must be 10 digits', 'mobileNumberError');
            return false;
        }

        // Validation for City (non-empty)
        if (city.trim() === '') {
            showError(document.getElementById("city"), 'City must not be empty', 'cityError');
            return false;
        }

        // Validation for State (non-empty)
        if (state.trim() === '') {
            showError(document.getElementById("state"), 'State must not be empty', 'stateError');
            return false;
        }

        // Validation for Pincode (non-empty, only numbers)
        var pincodePattern = /^\d{6}$/;
        if (pincode.trim() === '' || !pincodePattern.test(pincode)|| /^(\d)\1+$/.test(pincode)) {
            showError(document.getElementById("pincode"), 'Enter a valid Pincode', 'pincodeError');
            return false;
        }

        // Clear any previous error messages
        clearErrorMessages();

        return true;
    }


        function copyToClipboard() {
            // Get the input field
            var copyText = document.getElementById("referralCodeInput");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            // Copy the text inside the text field
            document.execCommand("copy");
            
            Swal.fire({
        icon: 'success',
        title: 'Referral Code Copied!',
        showConfirmButton: false,
        timer: 1500  // The alert will close after 1.5 seconds
    });
    
        }
    
</script>
<script>
    function validateAddAddressForm() {
        // Clear any previous error messages
        clearErrorMessages();

        var country = document.getElementById("country").value;
        var fullName = document.getElementById("fullName").value;
        var mobileNumber = document.getElementById("mobileNumber").value;
        var city = document.getElementById("city").value;
        var state = document.getElementById("state").value;
        var pincode = document.getElementById("pincode").value;

        // Function to display an error message
        function showError(inputElement, errorMessage, errorId) {
            var errorElement = document.getElementById(errorId);
            errorElement.textContent = errorMessage;
            errorElement.style.color = 'red';
        }

        // Validation for Country (non-empty)
        if (country.trim() === '') {
            showError(document.getElementById("country"), 'Country must not be empty', 'countryError');
            return false;
        }

        // Validation for Full Name (non-empty)
        if (fullName.trim() === '') {
            showError(document.getElementById("fullName"), 'Full Name must not be empty', 'fullNameError');
            return false;
        }

        // Validation for Mobile Number (non-empty, 10 digits)
        var mobilePattern = /^\d{10}$/;
        if (mobileNumber.trim() === '' || !mobilePattern.test(mobileNumber)) {
            showError(document.getElementById("mobileNumber"), 'Mobile Number must be 10 digits', 'mobileNumberError');
            return false;
        }

        // Validation for City (non-empty)
        if (city.trim() === '') {
            showError(document.getElementById("city"), 'City must not be empty', 'cityError');
            return false;
        }

        // Validation for State (non-empty)
        if (state.trim() === '') {
            showError(document.getElementById("state"), 'State must not be empty', 'stateError');
            return false;
        }

        // Validation for Pincode (non-empty, only numbers)
        var pincodePattern = /^\d{6}$/;
        if (pincode.trim() === '' || !pincodePattern.test(pincode) || /^(\d)\1+$/.test(pincode)) {
            showError(document.getElementById("pincode"), 'Enter a valid Pincode', 'pincodeError');
            return false;
        }

        // If all validations pass, return true
        return true;
    }

    // Function to clear error messages
    function clearErrorMessages() {
        var errorElements = document.querySelectorAll('.error-message');
        errorElements.forEach(function (element) {
            element.textContent = '';
        });
    }
</script>

<script>
    // When a tab is clicked, store its ID in session storage0.

    document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll('[data-toggle="tab"]');
        
        tabs.forEach(tab => {
            tab.addEventListener("click", function (event) {
                const tabId = event.target.getAttribute("href");
                sessionStorage.setItem("activeTab", tabId);
            });
        });

        // Check if there's a previously active tab in session storage
        const activeTab = sessionStorage.getItem("activeTab");

        if (activeTab) {
            // Show the previously active tab
            const tab = document.querySelector(`[href="${activeTab}"]`); // Fix here
            tab && tab.click();
        }
    });
</script>
