<%- include('../layouts/user/header.ejs') -%>

<main class="main">
  <div class="page-header text-center" style="background-image: url('/public/userAssets/assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">My Account<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="dashboard">
          <div class="container">
            <div class="row">
              <aside class="col-md-4 col-lg-3">
                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Coupons</a>
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="confirmSignOut()">Sign Out</a>
            </li>
          
        </ul>
              </aside><!-- End .col-lg-3 -->

              <div class="col-md-8 col-lg-9">
                <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
              <div class="mx-5 " >
                <h1 class="text-center">My Profile</h1>
              <p style="color: #000; font-weight: 500;">Full Name    : <%= users.firstName %> <%= users.secondName %></p>
              <p style="color: #000; font-weight: 500;">Email Address      : <%= users.email %></p>
              <p style="color: #000; font-weight: 500;">Phone Number : <%= users.mobile %> </p>
              <p style="color: #000; font-weight: 500;">Country: <%= users.country%></p>
              
              </div>
              
            </div><!-- .End .tab-pane -->


            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link" >
              <h4>Account Details </h4>
              <form action="/updateuser" method="post" novalidate>
                      <div class="row">
                        <div class="col-sm-6">
                          <label>First Name *</label>
                          <input type="text" name="firstName" class="form-control" value="<%= users.firstName %>" >
                        </div><!-- End .col-sm-6 -->

                        <div class="col-sm-6">
                          <label>Last Name *</label>
                          <input type="text" name="secondName" class="form-control" value="<%= users.secondName %>" >
                        </div><!-- End .col-sm-6 -->
                      </div><!-- End .row -->

                    

                      <label>Email address *</label>
                  <input type="email" name="email" class="form-control" value="<%= users.email %>" >

                  
                    <label>Mobile No *</label>
                  <input type="tel" name="mobile" class="form-control" value="<%= users.mobile %>">
              
              
                      <button type="submit" class="btn btn-outline-primary-2">
                        <span>SAVE CHANGES</span>
                      <i class="icon-long-arrow-right"></i>
                      </button>
                    </form>

                    <hr>

                    <h4>Change Password</h4>
              
                    <form action="/changepassword" method="post">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6">
                            <label >Current Password</label>
                            <input type="password" name="oldPassword" class="form-control" required>

                          </div> 
                          <div class="col-sm-6">
                            <label >New Password</label>
                            <input type="password" name="newPassword" class="form-control" required>
                          </div>
                        </div>
                        <!-- Display error message for validation -->
                    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                        <div class="alert alert-danger">
                        <ul>
                            <% errors.forEach(error => { %>
                            <li><%= error %></li>
                            <% }); %>
                        </ul>
                        </div>
                    <% } %>
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>CHANGE PASSWORD</span>
                          <i class="icon-long-arrow-right"></i>
                      </button>
                      </div>

                    </form>
            </div><!-- .End .tab-pane -->

            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
              <p>No order has been made yet.</p>
              <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- .End .tab-pane -->
            
           

            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
              <h4 class="mx-5">Addresses</h4>
              <div class=" row p-2 mx-5 col-12 d-flex " >

                <div class="card  m-2 col-md-5 col-6" data-bs-toggle="modal"
                data-bs-target="#exampleModal" id="addAddressBtn"
                    style="background: #f9f9fc; border-radius: 10px; border: 1px dashed #777777; cursor: pointer; ">
                    <div class="card-body p-0 d-flex justify-content-around align-items-center">
                        <div class="row d-flex flex-column pt-2">
                            <i class="fa-solid fa-plus text-center mb-2" style="font-size: 40px;"></i>
                            <h4 class="text-light">Add-Address</h4>
                            <button id="addBTN" data-bs-toggle="modal" data-bs-target="#addModal" type="button" hidden>add</button>
                        </div>

                    </div>
                </div>
                <% if (address) { %>
                <%for(i in address){%>
                  <div class="card  m-2 col-md-5 col-6 p-4" style="background: #F3F3F9; border-radius: 10px;">
                      <div class="card-body ">
                          <h6 class="card-title" style="font-size: 15px;">
                              <%=address[i].fullName%>
                          </h6>
                          <p class="card-text">
                              <%=address[i].city%>, <%=address[i].state%>
                          <p class="card-text"> <%=address[i].mobileNumber%>
                          <p class="card-text"> <%=address[i].pincode%>, <%=address[i].country%>
                          <hr class="m-0 p-0 my-3">
                          <div class="d-flex justify-content-end ">
                              <p class="text-dark" type="button" id="editBTN" data-bs-toggle="modal" data-bs-target="#editModal<%=address[i]._id%>">Edit </p>
                              <p class="mx-3">|</p>
                              <p class="text-danger" type="button"   data-bs-toggle="modal" data-bs-target="#deleteModal<%=address[i]._id%>">Remove</p>
                              
                          </div>
                      </div>
                      <% if ((i + 1) % 3 === 0) { %>
                      </div>
                      <div class="row">
                 <% } %>
                 </div>
                  
                  <!-- end of card -->
                  <!-- Edit modal  -->
                  <div class="modal fade" id="editModal<%=address[i]._id%>" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-4">
                            <div class="modal-header">
                                <h5 class="" id="editModal">Edit Address</h5>
                                <button type="button" class=" btn-dark " data-bs-dismiss="modal"
                                    aria-label="Close">x</button>
                            </div>
                            <form action="/profile/user_address/edit" method="post">
                                <div class="modal-body p-4">
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1"
                                            class="form-label m-0">Country/Region
                                        </label>
                                        <input type="text" class="form-control address-input"
                                            id="exampleFormControlInput1" name="country" value="<%=address[i].country%>" required>
                                    </div>
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1" class="form-label m-0">Full name
                                            (First and Last
                                            name)
                                        </label>
                                        <input type="text" class="form-control address-input"
                                            id="exampleFormControlInput1" value="<%=address[i].fullName%>" name="fullName" required>
                                    </div>
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1" class="form-label m-0">Mobile
                                            number
                                        </label>
                                        <input type="number" class="form-control address-input"
                                            id="exampleFormControlInput1" value="<%=address[i].mobileNumber%>" name="mobileNumber" required>
                                    </div>
                                    <div class="mb-1">
                                        <label for="exampleFormControlInput1" class="form-label m-0">Area,
                                            Street, Sector,
                                            Village
                                        </label>
                                        <input type="text" class="form-control address-input"
                                            id="exampleFormControlInput1" value="<%=address[i].city%>" name="city" required>
                                    </div>

                                    <div class=" row ">
                                        <div class=" col-6">
                                            <label for="exampleFormControlInput1" class="form-label m-0">State
                                            </label>
                                            <input type="text" class="form-control address-input"
                                                id="exampleFormControlInput1" name="state" value="<%=address[i].state%>" required>
                                        </div>
                                        <div class=" col-6">
                                            <label for="exampleFormControlInput1" class="form-label m-0">Pincode
                                            </label>
                                            <input type="number" value="<%=address[i].pincode%>" class="form-control address-input"
                                                id="exampleFormControlInput1" name="pincode" required>
                                        </div>
                                        <input value="<%=address[i]._id%>" class="form-control address-input"
                                                id="exampleFormControlInput1" name="adressId" hidden required>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                                        data-bs-dismiss="modal">Close</a>
                                    <button type="submit" class="btn btn-outline-primary-2"
                                        style="border-radius: 7px; background: #000; color: #fff;">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                  <!-- end of edit Modal -->
                  <!-- delete modal -->
                  <div class="modal fade" id="deleteModal<%=address[i]._id%>" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-4">
                            <div class="modal-header">
                                <h5 class="" id="editModal">Are you sure to delete this</h5>
                                <button type="button" class=" btn-dark " data-bs-dismiss="modal"
                                    aria-label="Close">x</button>
                            </div>
                            
                                <div class="card  m-2 col-md-12 col-12 p-4" style="background: #F3F3F9; border-radius: 10px;">
                                    <div class="card-body ">
                                        <h6 class="card-title" style="font-size: 15px;">
                                            <%=address[i].fullName%>
                                        </h6>
                                        <p class="card-text">
                                            <%=address[i].city%>, <%=address[i].state%>
                                        </p>
                                        <p class="card-text">Contanct Number : <%=address[i].mobileNumber%>
                                        </p>
                                        <p class="card-text">Pincode : <%=address[i].pincode%>, <%=address[i].country%>
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                                        data-bs-dismiss="modal">Close</a>
                                    <a onclick="removeAddress('<%=address[i]._id%>')" class="btn btn-outline-primary-2"
                                        style="border-radius: 7px; background: #000; color: #fff;">Update</a>
                                </div>
                            
                        </div>
                    </div>
                </div>
                  <%}%>
                  <% } else { %>
                    
                    
                  <% } %>
                  



            </div><!-- .End .tab-pane -->
          </div>
              </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
          </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

  
  <!-- add address Modal -->
  <div class="modal fade" id="addModal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="" id="exampleModalLabel">Add New Address</h5>
                <button type="button" class=" btn-dark " data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <form action="/profile/user_address" method="post" novalidate>
                <div class="modal-body p-4">
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label m-0">Country/Region
                        </label>
                        <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                            name="country" required>
                    </div>
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label m-0">Full name (First and Last
                            name)
                        </label>
                        <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                            name="fullName" required>
                    </div>
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label m-0">Mobile number
                        </label>
                        <input type="tel" class="form-control address-input" id="exampleFormControlInput1"
                            name="mobileNumber" required>
                    </div>
                    <div class="mb-1">
                        <label for="exampleFormControlInput1" class="form-label m-0">Area, Street, Sector,
                            Village
                        </label>
                        <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                            name="city" required>
                    </div>

                    <div class=" row ">
                        <div class=" col-6">
                            <label for="exampleFormControlInput1" class="form-label m-0">State
                            </label>
                            <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                                name="state" required>
                        </div>
                        <div class=" col-6">
                            <label for="exampleFormControlInput1" class="form-label m-0">Pincode
                            </label>
                            <input type="number" class="form-control address-input"
                                id="exampleFormControlInput1" name="pincode" required>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                        data-bs-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-outline-primary-2"
                        style="border-radius: 7px; background: #000; color: #fff;">Add
                        now</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- model end -->

<script>
  let addressBTN = document.getElementById("addAddressBtn")
  let modelBTN = document.getElementById("addBTN")

  addressBTN.addEventListener("click", function () {
      modelBTN.click()
  })
</script>


<%- include('../layouts/user/footer.ejs') -%>
