<%- include('../layouts/user/header.ejs') -%>


<main class="main">
  <div class="page-header text-center" style="background-image: url('/public/userAssets/assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">Shop<span> Elevating Style, One Step at a Time</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="toolbox">
                <div class="toolbox-left">
              <div class="toolbox-info"><p class="woocommerce-result-count">
                Showing <span class="from">1</span><span>–</span><span class="to">9</span><span> of </span><span class="total"><%= totalProducts %></span> Products</p>
                </div>
                </div>
              </div>
             
                

                
                  
                  
                  

                    <div class="products mb-3">
                        <div class="row justify-content-center">        
                            <% for(i=0;i<products.length;i++) {%>
                              <div class="col-6 col-md-4 col-lg-4">
                                  <div class="product product-7 text-center">
                                      <figure class="product-media" style="position: relative;">
                                          <a href="/product?id=<%= products[i]._id%>">
                                              <img src="/public/products/croped/<%= products[i].images.image1 %>" alt="Product image" class="product-image">
                                              <img src="/public/products/croped/<%= products[i].images.image2 %>" alt="Product image" class="product-image-hover">
                                          
                                          <%if (products[i].offer ){%>
                                          <div class="product-lable-badge" style=" position: absolute;
                                          top: 10px; /* Adjust top position as needed */
                                          left: 10px; /* Adjust left position as needed */
                                          background-color: red;
                                          color: white;
                                          padding: 3px;
                                          >">
                                            <span class="product-lable" style="font-size: 12px;"><%= products[i].offer.percentage%>% OFF</span>
                                          </div>
                                          <%}%>
                                        </a>
                                          <div class="product-action-vertical">
                                              <a href="#"  style="cursor: pointer;" onclick="addtoWishList('<%= products[i]._id %>','<%= user %>')" class="btn-product-icon btn-wishlist "><span>add to wishlist</span></a>
                                          </div><!-- End .product-action-vertical -->
                                      
                                      <div class="product-action">
                                        <%if(products[i].stock==0){%>
                                          <a style="cursor: pointer;" class="btn-product btn text-danger"><span class="text-danger">Out of Stock </span></a>
                                          <%}else{%>
                                        <a class="btn-product btn-cart" onclick="addCart('<%= products[i]._id %>','<%= user %>')"><span>add to cart</span></a>
                                        <%}%>
                                      </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
                                      <div class="product-body">
                                        <div class="product-cat">
                                           
                                        <a  rel="tag" style="font-size: 14px;"><%= products[i].category %></a>
                                        </div>
                                          <h3 class="product-title"><a><%= products[i].product_name %></a></h3><!-- End .product-title -->
                                          <%if (products[i].offer ){%>
                                          <div class="product-price">
                                             <del> ₹<%= products[i].product_price%>></del> 
                                             <span class="mx-3">₹<%= Math.floor(products[i].discountedPrice) %></span>
                                            
                                          </div><!-- End .product-price -->
                                          <%} else {%>
                                            <div class="product-price">
                                                 ₹<%= products[i].product_price %>
                                                
                                             </div><!-- End .product-price -->
                                          <%}%>
                                      </div><!-- End .product-body -->
                                      
                                  </div><!-- End .product -->
                              </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
  
                          <%}%>
                        </div>
                    </div>
          
  
                          
                            

                    <nav aria-label="Page navigation">
                      <ul class="pagination justify-content-center">
                          <li class="page-item <%if(curentPage==1){%> disabled<%}%>">
                              <a class="page-link page-link-prev" href="/shop?page=<%= Number(curentPage) - 1 %>" aria-label="Previous" tabindex="-1"
                                                                                                                                                                                                                                                                                             aria-disabled="true">
                                  <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                              </a>
                          </li>

                          <%for(let i=Math.max(1, curentPage - 1); i <=Math.min(totalPage, curentPage + 2); i++){%>
                              <%if(i===curentPage){%>
                                  <li class="page-item active" aria-current="page">
                                      <a class="page-link">
                                          <%= i %>
                                      </a>
                                  </li>
                                  <%}else{%>
                                      <li class="page-item">
                                          <a class="page-link" href="/shop?page=<%= i %>">
                                              <%= i %>
                                          </a>
                                      </li>
                                      <%}%>
                                          <%}%>

                                              <li class="page-item-total">of <%= totalPage %>
                                              </li>
                                              <li class="page-item <%if(curentPage === totalPage){%> disabled<%}%>">
                                                  <a class="page-link page-link-next" href="/shop?page=<%= Number(curentPage) + 1 %>" aria-label="Next">
                                                      Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                                  </a>
                                              </li>
                      </ul>
                  </nav>
            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3 order-lg-first">
              <div class="sidebar sidebar-shop">
                  <div class="widget widget-clean">
                      <label>Filters:</label>
                      <!-- <a href="#" class="sidebar-filter-clear">Clean All</a> -->
                  </div><!-- End .widget widget-clean -->

                  <div class="widget widget-collapsible">
                      <h3 class="widget-title">
                          <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                                                                                                                                                                                                                                                                         aria-controls="widget-1">
                              Category
                          </a>
                      </h3><!-- End .widget-title -->

                      <div class="collapse show" id="widget-1">
                          <div class="widget-body">
                              <div class="filter-items filter-items-count">

                                  <% for (i in categories) { %>
                                      <div class="filter-item">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" onclick="selectCategory('<%= categories[i].category_name %>')" id="<%= categories[i].category_name %>">
                                              <label class="custom-control-label" for="<%= categories[i].category_name %>">
                                                  <%= categories[i].category_name %>
                                              </label>
                                          </div>
                                      </div>
                                  <% } %>

                                  <button class=" mt-1 filtterClear"  onclick="categoryClear()">clear</button>


                              </div><!-- End .filter-items -->
                          </div><!-- End .widget-body -->
                      </div><!-- End .collapse -->
                  </div><!-- End .widget -->





                  <div class="widget widget-collapsible">
                      <h3 class="widget-title">
                          <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                                                                                                                                                                                                                                                                                         aria-controls="widget-4">
                              Gender
                          </a>
                      </h3><!-- End .widget-title -->

                      <div class="collapse show" id="widget-4">
                          <div class="widget-body">
                              <div class="filter-items">
                                  <div class="filter-item">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" onclick="selectGender('Male')" id="Male">
                                          <label class="custom-control-label" for="Male">Male</label>
                                      </div><!-- End .custom-checkbox -->
                                  </div><!-- End .filter-item -->

                                  <div class="filter-item">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" onclick="selectGender('Women')" id="Women">
                                          <label class="custom-control-label" for="Women">Women</label>
                                      </div><!-- End .custom-checkbox -->
                                  </div><!-- End .filter-item -->

                                  

                                  <button class=" mt-1 filtterClear"  onclick="genderClear()">clear</button>

                              </div><!-- End .filter-items -->
                          </div><!-- End .widget-body -->
                      </div><!-- End .collapse -->
                  </div><!-- End .widget -->


                  <div class="widget widget-collapsible">
                    <h3 class="widget-title">
                        <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                                                                                                                                                                                                                                                                                       aria-controls="widget-4">
                            Brand
                        </a>
                    </h3><!-- End .widget-title -->

                    <div class="collapse show" id="widget-4">
                        <div class="widget-body">
                            <div class="filter-items">
                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" onclick="selectBrand('Nike')" id="Nike">
                                        <label class="custom-control-label" for="Nike">Nike</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" onclick="selectBrand('Adidas')" id="Adidas">
                                        <label class="custom-control-label" for="Adidas">Adidas</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" onclick="selectBrand('Jordan')" id="Jordan">
                                        <label class="custom-control-label" for="Jordan">Jordan</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .filter-item -->

                                <div class="filter-item">
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" onclick="selectBrand('Crocs')" id="Crocs">
                                      <label class="custom-control-label" for="Crocs">Crocs</label>
                                  </div><!-- End .custom-checkbox -->
                              </div><!-- End .filter-item -->

                                <div class="filter-item">
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" onclick="selectBrand('cloudWay')" id="cloudWay">
                                      <label class="custom-control-label" for="cloudWay">cloudWay</label>
                                  </div><!-- End .custom-checkbox -->
                              </div><!-- End .filter-item -->

                              

                                <button class=" mt-1 filtterClear"  onclick="brandClear()">clear</button>

                            </div><!-- End .filter-items -->
                        </div><!-- End .widget-body -->
                    </div><!-- End .collapse -->
                </div><!-- End .widget -->

                  <div class="widget widget-collapsible">
                      <h3 class="widget-title">
                          <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                              Price
                          </a>
                      </h3><!-- End .widget-title -->

                      <div class="collapse show" id="widget-4">
                          <div class="widget-body">
                              <div class="filter-items">
                                  <div class="filter-item">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" onclick="selectPrice(2000,3000)" id="C2000">
                                          <label class="custom-control-label" for="C2000">2000-3000</label>
                                      </div><!-- End .custom-checkbox -->
                                  </div><!-- End .filter-item -->

                                  <div class="filter-item">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" onclick="selectPrice(3000,4000)" id="C3000">
                                          <label class="custom-control-label" for="C3000">3000-4000</label>
                                      </div><!-- End .custom-checkbox -->
                                  </div><!-- End .filter-item -->

                                  <div class="filter-item">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" onclick="selectPrice(4000,5000)" id="C4000">
                                          <label class="custom-control-label" for="C4000">4000-5000</label>
                                      </div><!-- End .custom-checkbox -->
                                  </div><!-- End .filter-item -->

                                  <button class=" mt-1 filtterClear"  onclick="priceClear()">clear</button>




                              </div><!-- End .filter-items -->
                          </div><!-- End .widget-body -->
                      </div><!-- End .collapse -->
                  </div><!-- End .widget -->


              </div><!-- End .sidebar sidebar-shop -->
          </aside><!-- End .col-lg-3 -->
          </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
  let selectedCategoryItems = "";
  let selectedGender = "";
  let selectedBrand = "";
  let selectedMinPrice = "";
  let selectedMaxPrice = "";

  function selectCategory(data) {
      const temp = document.getElementById(data);

      if (!temp.checked) {
          // Deselecting a category
          const checkedArray = selectedCategoryItems.split(",").filter(item => item.trim() !== data.trim());
          selectedCategoryItems = checkedArray.join(',');
      } else {
          // Selecting a category
          selectedCategoryItems = selectedCategoryItems ? selectedCategoryItems + "," + data.trim() : data.trim();
      }
      // Update the URL
      updateURL();
  }

  function selectGender(gender) {
      selectedGender = gender;
      // Update the URL
      updateURL();
  }

  function selectBrand(brand) {
    selectedBrand = brand

    updateURL();
  }

  function updateURL() {
      if(selectedMinPrice==null){
          selectedMinPrice=""
          selectedMaxPrice=""
      }
      const url = new URL(window.location.href);
      url.searchParams.set('category', encodeURIComponent(selectedCategoryItems));
      url.searchParams.set('gender', selectedGender);
      url.searchParams.set('brand',selectedBrand);
      url.searchParams.set('minPrice', selectedMinPrice);
      url.searchParams.set('maxPrice', selectedMaxPrice);
      window.history.pushState(null, '', url);
      location.reload();
  }
  
  function selectPrice(minPrice, maxPrice) {
      selectedMinPrice=minPrice
      selectedMaxPrice=maxPrice
      updateURL();
  }
  function categoryClear(){
    selectedCategoryItems ="";
    updateURL();
  }
  function genderClear(){
      selectedGender = "";
      updateURL();
  }
  function brandClear( ){
    selectedBrand="";
    updateURL();
  }
  
  function priceClear(){
      selectedMinPrice = "";
      selectedMaxPrice = "";
      updateURL();
  }

  window.onload = function () {
      const queryString = window.location.search;
      const urlSearchParams = new URLSearchParams(queryString);
      const categorySelected = urlSearchParams.get('category');
      selectedCategoryItems = categorySelected ? decodeURIComponent(categorySelected) : "";

      const genderSelected = urlSearchParams.get('gender');
      selectedGender = genderSelected || "";

      const brandSelected = urlSearchParams.get('brand');
      selectedBrand = brandSelected || ""; 

      const minSelected = urlSearchParams.get('minPrice');
      const maxSelected = urlSearchParams.get('maxPrice');
      selectedMinPrice = minSelected !== "" ? minSelected :"" ;
      selectedMaxPrice = maxSelected !== "" ? maxSelected :""
      // alert(selectedMinPrice)
      if(minSelected !== "" && maxSelected !== "" ){
          // alert(`C${selectedMinPrice}`)
          document.getElementById(`C${selectedMinPrice}`).checked =true
      }
      if(genderSelected!=""){
          // alert(genderSelected)
          document.getElementById(selectedGender).checked =true
      }

      if(brandSelected!=""){
        document.getElementById(selectedBrand).checked= true
      }

      const checkedCategoryItems = selectedCategoryItems.split(",");
      for (let i = 0; i < checkedCategoryItems.length; i++) {
          document.getElementById(checkedCategoryItems[i]).checked = true;
      }

      // Handle gender selection here (e.g., selectGender('men') or selectGender('women')).
  };
</script>

<%- include('../layouts/user/footer.ejs') -%>
